.suggestions {
  margin: 5rem;
  text-align: center;
}

.suggestions__title {
 font-weight: 600;
}

.suggestions__sub-title {
  font-variant: small-caps;
  color: rgb(49, 12, 119);
}

.form {
  display: block;
}

.form-full-width {
  width: 100%;
}

.btn-success-purple {
  background-color: #a2a6ff;
    color: #fff;
    width: 100%;
    margin: 1rem 0;
}

/* VALIDATION */
.error {
  color: crimson;
  font-size: 16px;
  padding: 10px 0px 0px 0px;
}
