<div class="suggestions">
  <h1 class="suggestions__title">Welcome to Our Team's Suggestion Box!</h1>
  <h3 class="suggestions__sub-title">All great ideas are anonymous</h3>

  <!--Reactive form-->
  <form [formGroup]="this.itemService.form" novalidate>
    <div class="form-group form">
      <mat-form-field appearance="outline" class="form-full-width">
        <mat-label>Your Great Idea</mat-label>
        <input
          matInput
          #message
          formControlName="newIdea"
          maxlength="256"
          placeholder="Ex. My great idea is..."
          required
        />
        <mat-hint align="start"><strong>*Required</strong> </mat-hint>
        <mat-hint align="end">{{ message.value.length }} / 256</mat-hint>
      </mat-form-field>

      <!--submit idea to collection-->
      <button
        mat-flat-button
        type="submit"
        class="btn-success"
        (click)="onSubmit()"
        [disabled]="this.itemService.form.invalid"
      >
        Submit
      </button>

      <!--error-->
      <div
        class="error"
        *ngIf="
          this.itemService.form.get('newIdea').hasError('required') &&
          this.itemService.form.get('newIdea').touched
        "
      >
        Great Idea is required!
      </div>
      <div
        class="error"
        *ngIf="
          this.itemService.form.get('newIdea').hasError('minlength') &&
          this.itemService.form.get('newIdea').touched
        "
      >
        Minimum of 2 characters
      </div>

      <div style="visibility: hidden;">
        <input type="number" class="form-control" formControlName="votes" />
      </div>
    </div>
  </form>
</div>
