.suggestions__container {
  margin: 5rem;
  text-align: center;
}


.form-container {
  display: block;
}

.form-full-width {
  width: 100%;
}

.btn-success {
  background-color: #a2a6ff;
    color: #fff;
    width: 100%;
    margin: 1rem 0;
}

/* VALIDATION */
.error {
  color: crimson;
  font-size: 16px;
  padding: 10px 0px 0px 0px;
}

.success {
  color: lightgreen;
  font-size: 16px;
  padding: 10px 0px 0px 0px;
}
  