:host.suggestions {
  text-align: center;
}

.suggestions {
  margin: 5rem auto 0 auto;
}

.suggestions__title {
 font-weight: 500;
  font-size: 10rem;

}

.suggestions__sub-title {
  font-variant: small-caps;
  color: rgb(49, 12, 119);
}

.form {
  display: block;
}

.form-full-width {
  width: 100%;
}

.btn-success-purple {
  background-color: #a2a6ff;
    color: #fff;
    width: 100%;
    margin: 1rem 0;
}

/* VALIDATION */
.error {
  color: crimson; 
  font-size: 16px;
  padding: 10px 0px 0px 0px;
}

@media (max-width: 375px) {
  .suggestions__title {
    font-size: 2rem;

  }

  .btn-sm {
    width: 100%;
  }
}