<div class="suggestions__container">
  <h2>Submit Your Great Idea</h2>

  <!--Reactive form-->
  <form [formGroup]="this.itemService.form" novalidate>
    <div class="form-group form-container">
      <mat-form-field appearance="outline" class="form-full-width">
        <mat-label>Your Great Idea</mat-label>
        <input
          matInput
          #message
          formControlName="newIdea"
          maxlength="256"
          placeholder="Ex. My great idea is..."
        />
        <mat-hint align="start"><strong>Required</strong> </mat-hint>
        <mat-hint align="end">{{ message.value.length }} / 256</mat-hint>
      </mat-form-field>

      <!--error-->
      <div
        class="error"
        *ngIf="
          this.itemService.form.get('newIdea').hasError('required') &&
          this.itemService.form.get('newIdea').touched
        "
      >
        Great Idea is required!
      </div>
      <div
        class="error"
        *ngIf="
          this.itemService.form.get('newIdea').hasError('minlength') &&
          this.itemService.form.get('newIdea').touched
        "
      >
        Minimum of 2 characters
      </div>

      <div style="visibility: hidden;">
        <input type="number" class="form-control" formControlName="votes" />
      </div>
    </div>
    <!--submit idea to collection-->
    <button
      mat-raised-button
      type="submit"
      class="btn btn-success"
      (click)="onSubmit()"
      [disabled]="this.itemService.form.invalid"
    >
      Submit
    </button>

    <!-- <div *ngIf="successMsg" class="success">
            Your Great Idea has been submitted!
          </div>   -->
  </form>
</div>
