<div class="main__container">
      <!-- Main Content -->
      <div class="main__toolbar">
        <span class="main__logo"> Great Minds<sub class="main__sub"> ©</sub></span>
        <!-- <img src="assets/img/logo.png" width="150px"/><sub style="color:white;font-size:14px;"> ©</sub> -->
      </div>
      <main>
          <!-- <router-outlet></router-outlet> -->
          <app-home></app-home>
      </main>
  
      <!-- Footer -->
      <footer class="main__footer">
          <small class="copyright__text"> © 2020 great minds</small>
      </footer>
  </div>