<div class="ideas-container">
    <!-- form to submit your suggestion-->
    <app-suggestion-form></app-suggestion-form>
    
  <!--lists of suggestions-->
  <div class="ideas-array" *ngFor="let idea of newIdeas">
    <div class="ideas-text-container">
      <div class="ideas-text">{{ idea.payload.doc.data().newIdea }}</div>

      <div class="ideas-vote-btn">
        <!--upvote btn-->
        <button
          mat-icon-button
          class="ideas__btn--upvote"
          aria-label="Upvote Button"
          (click)="upVote(idea.payload.doc.id)"
        >
          <mat-icon>thumb_up</mat-icon>
        </button>
      </div>

      <div class="ideas-vote-count">
        <!-- just changing the html -->
        <!-- Votes:<span [innerText]="votes" id="upvotes">{{votes}}</span> -->

        <!-- pulling votes from firestore -->
        Votes:<span id="upvotes">{{ idea.payload.doc.data().votes }}</span>
      </div>
    </div>
  </div>
</div>
