<div class="container">
    <!--lists of suggestions-->
    <div class="ideas-array">
        <div class="idea" *ngFor="let idea of newIdeas; let i = index" >
            <h2 style="color: #c0ffee;"> {{ idea.payload.doc.data().newIdea }} </h2>
            <!--upvote btn-->
            <button class="glyphicon glyphicon-plus-sign btn" 
                  (click)="upVote(i)" id="upvoteBtn">
            </button> 
            <!-- just changing the html -->
            <!-- Votes:<span [innerText]="votes" id="upvotes">{{votes}}</span> -->

            <!-- pulling votes from firestore -->
            Votes:<span id="upvotes">{{ idea.payload.doc.data().votes }}</span>
        </div>
    </div>
    <!-- form to submit your suggestion-->
    <app-suggestion-form></app-suggestion-form>
</div>
