.ideas-container {
	padding: auto 1rem;
	margin: auto 10rem;
}

.ideas-array {
	border-bottom: solid 2px #fafafa;
}

.ideas-array h2 {
	margin: 0;
	padding: 0;
	font-weight: 300;
}
.ideas-array h3 {
	color: green;
	font-weight: 200;
	font-size: 18px;
}

.idea {
	padding: 25px 0;
	border-top: solid 2px #fafafa;
}

#upvoteBtn {
	cursor:pointer;
	background: none;
	padding: 5px 5px 5px 0px;
	color:whitesmoke;
}